*{
    font-family: 'Courier New', monospace;;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f67a7a;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 80px;
    justify-content: center;
}
.navbar ul li {
    font-size: 18px;
    font-weight: bold;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover {
    color: red;
} 